* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

nav {
    background: #333;
    padding: 1rem;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 4rem 2rem;
    background: #333;
    color: white;
}

section {
    padding: 3rem;
    max-width: 800px;
    margin: 0 auto;
}

.project {
    background: white;
    padding: 2rem;
    margin: 1rem 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.lantern{

    width:400px;
    height:400px;

    margin:50px auto;

    position:relative;

    animation: quay 10s linear infinite;

}


.lantern img{

    width:120px;
    height:120px;

    object-fit:cover;

    position:absolute;

    top:140px;
    left:140px;

    border-radius:10px;

    box-shadow:0 0 10px gray;

}



/* xếp 6 mặt đèn */

.lantern img:nth-child(1){
    transform:rotate(0deg) translateY(-150px);
}


.lantern img:nth-child(2){
    transform:rotate(60deg) translateY(-150px);
}


.lantern img:nth-child(3){
    transform:rotate(120deg) translateY(-150px);
}


.lantern img:nth-child(4){
    transform:rotate(180deg) translateY(-150px);
}


.lantern img:nth-child(5){
    transform:rotate(240deg) translateY(-150px);
}


.lantern img:nth-child(6){
    transform:rotate(300deg) translateY(-150px);
}



@keyframes quay{

    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }

}
/* ===== CONTACT PAGE ===== */


.contact-section{

    max-width:1000px;

    margin:40px auto;

    display:flex;

    gap:30px;

    padding:20px;

}



.contact-box,
.form-box{

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,0.15);

}



.contact-box{

    width:40%;

}



.contact-box h2,
.form-box h2{

    margin-bottom:20px;

    color:#333;

}



.contact-box p{

    margin:15px 0;

    font-size:16px;

}




.form-box{

    width:60%;

}



.form-box label{

    display:block;

    margin-top:15px;

    font-weight:bold;

}



.form-box input,
.form-box textarea{


    width:100%;

    padding:12px;

    margin-top:8px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:15px;

}



.form-box textarea{

    height:130px;

    resize:none;

}



.form-box button{

    margin-top:20px;

    width:100%;

    padding:12px;

    background:#333;

    color:white;

    border:none;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;

}



.form-box button:hover{

    background:#555;

}



/* responsive cho dien thoai */

@media(max-width:700px){


.contact-section{

    flex-direction:column;

}


.contact-box,
.form-box{

    width:100%;

}


}
